@typeparam TItem
@using BlazorBootstrap

<div class="card">
    <div class="card-body">
        <Grid TItem="TItem" 
              Class="table table-hover table-bordered table-striped" 
              DataProvider="DataProvider"
              AllowPaging="@AllowPaging" 
              AllowSorting="@AllowSorting"
              AllowFiltering="@AllowFiltering"
              PageSize="PageSize" 
              PageSizeSelectorVisible="true"
              PageSizeSelectorItems="@(new int[] { 5, 10, 25, 50 })" 
              Responsive="true"
              EmptyText="No records found">

            <GridColumns>
                @Columns
                @if (Actions != null)
                {
                    <GridColumn TItem="TItem" HeaderText="Actions" Sortable="false" Filterable="false">
                        @Actions(context)
                    </GridColumn>
                }
            </GridColumns>

        </Grid>
    </div>
</div>

@code {
    [Parameter, EditorRequired] public GridDataProviderDelegate<TItem> DataProvider { get; set; } = default!;
    [Parameter] public RenderFragment? Columns { get; set; }
    [Parameter] public RenderFragment<TItem>? Actions { get; set; }
    [Parameter] public int PageSize { get; set; } = 10;
    [Parameter] public bool AllowFiltering { get; set; } = false;
    [Parameter] public bool AllowPaging { get; set; } = true;
    [Parameter] public bool AllowSorting { get; set; } = true;
}
