@page "/messages/details"
@using Microsoft.EntityFrameworkCore
@using LMS.Data
@inject IDbContextFactory<LMS.Data.AuthDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Message</h2>
    <hr />
    @if (message is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Subject</dt>
            <dd class="col-sm-10">@message.Subject</dd>
            <dt class="col-sm-2">Content</dt>
            <dd class="col-sm-10">@message.Content</dd>
            <dt class="col-sm-2">FromUserId</dt>
            <dd class="col-sm-10">@message.FromUserId</dd>
            <dt class="col-sm-2">ToUserId</dt>
            <dd class="col-sm-10">@message.ToUserId</dd>
            <dt class="col-sm-2">ParentMessageId</dt>
            <dd class="col-sm-10">@message.ParentMessageId</dd>
            <dt class="col-sm-2">SentAt</dt>
            <dd class="col-sm-10">@message.SentAt</dd>
            <dt class="col-sm-2">ReadAt</dt>
            <dd class="col-sm-10">@message.ReadAt</dd>
            <dt class="col-sm-2">IsDeleted</dt>
            <dd class="col-sm-10">@message.IsDeleted</dd>
            <dt class="col-sm-2">Priority</dt>
            <dd class="col-sm-10">@message.Priority</dd>
        </dl>
        <div>
            <a href="@($"/messages/edit?id={message.Id}")">Edit</a> |
            <a href="@($"/messages")">Back to List</a>
        </div>
    }
</div>

@code {
    private Message? message;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        message = await context.Messages.FirstOrDefaultAsync(m => m.Id == Id);

        if (message is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
